* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body{
    height: 100%;
    background-color: #FAFAFA;
}

.task-body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.task-input{
    margin-top: 30px;
    margin-bottom: 16px;
    text-align: center;
}
h1{
    padding-bottom: 10px;
    font-size: 45px;
    color: #191919;
}
#task-form{
    margin-top: 20px;
    margin-bottom: 20px;
}

.task-body input[type="text"]{
    background-color: #fff;
    outline: none;
    border: none;
    border-radius: 6px;
    width: 400px;
    height: 45px;
    padding: 2px 10px;
    box-shadow: 0px 7px 15px rgba(240, 240, 240);
    margin-right: 18px;
    margin-left: 0;
    font-size: 15px;
    cursor: text;
}
.task-body input[type="text"]::placeholder{
    color: darkgrey;
    opacity: 1;
}
.task-body input[type="submit"]{
    background-color: #191919;
    color: #fafafa;
    border: none;
    border-radius: 6px;
    width: 80px;
    height: 45px;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
}
.task-body input[type="submit"]:hover{
    background-color: darkgray;
}
.task-body-list,
.task-body-result{
    width: 502px; /*ajuste chat*/
}
.task-body-list{
    height: 50px;
}
.task-list{ 
    display: flex; /*ajuste chat*/
    gap: 8px; /*ajuste chat*/
    justify-content: flex-start; /*ajuste chat*/
    list-style-type: none; 
    padding-left: 2px;
}
.task-list li{
    display: inline;
    color: #808080;
    cursor: pointer;
}
.task-body-result{
    height: 360px;
    margin: auto;
}
#task-body-result-list{
    list-style-type: none; 
    padding-left: 0px;
    padding-top: 2px;

}
#task-body-result-list li{
    display: flex;
    background-color: #fff;
    outline: none;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;
    padding-top: 6px;
    padding-left: 16px;
    padding-bottom: 6px;
    border-radius: 6px;
}
#task-body-result-list li input[type="checkbox"] {
    display: none;
}
#task-body-result-list li label {
    display: flex;
    cursor: pointer;
    gap: 10px;
}
#task-body-result-list li label::before {
    content: "";
    width: 14px;
    height: 14px;
    border: 2px solid #191919;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
    background-color: #fff;
    transition: 0.2s;
}
#task-body-result-list li input[type="checkbox"]:checked + label::before {
    content: "✔";
    background-color: #191919;
    color: #fff;
    font-size: 12px;
    text-align: center;
}
.btn-icon-pen{
    margin-left: auto;
    margin-right: 4px;
}
.btn-icon-trash{
    margin-right: 4px;
}
.btn-icon-pen,
.btn-icon-trash{
    background-color: transparent;
    border: none;
    outline: inherit;
    cursor: pointer;
    color: inherit;
    font-size: 18px;
}